@import url('https://fonts.googleapis.com/css?family=Yeon+Sung:400');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  font-family: 'Yeon sung';

}

.input {
  font-family: 'Yeon sung';
}
code {
  font-family: 'Yeon sung';
}

